*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif;
}

body {
    background-image: url(../img/logo-bell.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

section{
   width: 100%;
   padding: 20px;
   margin: auto;
   margin-top: 100px;   
}

.all-container{
    width: 100%;
    max-width:  800px;
    margin: auto;
    position: relative;
}

.login-box{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(50px);
    background-color: rgba(123, 125, 126, 0.5);

}

.login-box div {
    margin: 100px 40px;
    color: white;
    transition: 600ms;
}

.login-box div p,
.login-box div button{
    margin-top: 30px;
}

.login-box div h3{
    font-weight: 600;
    font-size: 25px;
}

.login-box button{
    padding: 10px 40;
    font-weight: 600;
    cursor: pointer;
    transition: all 400ms;
}

.login-box button:hover{
    background: black;
    color: white;  
}

.login-container{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 550ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.login-container form{
    width: 100%;
    padding: 80px 20px;
    background: yellow;
    position: absolute;
    border-radius: 25px;
}

.login-container form h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.login-container form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: white;
    font-size: 15px;
    outline: none;
}

.login-container form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.login-card {
    display:block;
    opacity: 1;
}

.register-card{
    display: none;
}

@media (max-width: 850px){
    section{
        margin-top: 50px;
    }

    .login-box {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;

    }

    .login-box div{
        margin: 0px;
        position: absolute;
    }
    
    .login-container{
        top: -10px;
        left: -5px;
        margin: auto;   
    }

    .login-container form{
        position: relative;
    }

}
